In [2]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
import pandas as pd
import matplotlib.cm as cm
import matplotlib.colors as colors
from sklearn.cluster import KMeans
# !pip install folium
import folium
# !pip install geopy 
from geopy.geocoders import Nominatim

# Fetching and setting up of data

In [38]:
india_df = pd.DataFrame()
data = requests.get('https://www.latlong.net/category/cities-102-15.html').text
soup = BeautifulSoup(data, 'html.parser')
table = soup.find_all('table')[0] 
dfdummy=pd.read_html(str(table))[0]
dfdummy

                                           Place Name   Latitude  Longitude
0                 Nanjangud, Mysore, Karnataka, India  12.120000  76.680000
1                       Chittorgarh, Rajasthan, India  24.879999  74.629997
2                       Ratnagiri, Maharashtra, India  16.994444  73.300003
3                Goregaon, Mumbai, Maharashtra, India  19.155001  72.849998
4                          Pindwara, Rajasthan, India  24.794500  73.055000
5                         Raipur, Chhattisgarh, India  21.250000  81.629997
6                             Gokak, Karnataka, India  16.166700  74.833298
7                       Lucknow, Uttar Pradesh, India  26.850000  80.949997
8   Delhi, the National Capital Territory of Delhi...  28.610001  77.230003
9                          Mumbai, Maharashtra, India  19.076090  72.877426
10                            Sagar, Karnataka, India  14.167040  75.040298
11                     Jalpaiguri, West Bengal, India  26.540457  88.719391
12                            Pakur, Jharkhand, India  24.633568  87.849251
13                     Sardarshahar, Rajasthan, India  28.440554  74.493011
14                           Sirohi, Rajasthan, India  24.882618  72.858894
15                     Jaysingpur, Maharashtra, India  16.779877  74.556374
16                       Ramanagara, Karnataka, India  12.715035  77.281296
17                  Chikkaballapura, Karnataka, India  13.432515  77.727478
18                      Channapatna, Karnataka, India  12.651805  77.208946
19                      Surendranagar, Gujarat, India  22.728392  71.637077
20                          Thiruvalla, Kerala, India   9.383452  76.574059
21                       Ranebennur, Karnataka, India  14.623801  75.621788
22                        Karaikal, Puducherry, India  10.925440  79.838005
23                          Belgaum, Karnataka, India  15.852792  74.498703
24                           Chatrapur, Odisha, India  19.354979  84.986732
25                           Suri, West Bengal, India  23.905445  87.524620
26                         Bhubaneswar, Odisha, India  20.296059  85.824539
27                             Mahuva, Gujarat, India  21.105001  71.771645
28                           Jagadhri, Haryana, India  30.172716  77.299492
29                                 Barh, Bihar, India  25.477585  85.709091
..                                                ...        ...        ...
70                           Ausa, Maharashtra, India  18.245655  76.505356
71                    Mahidpur, Madhya Pradesh, India  23.486839  75.659157
72                           Gurdaspur, Punjab, India  32.041943  75.405334
73                        Domchanch, Jharkhand, India  24.474380  85.688744
74                        Barjora, West Bengal, India  23.427221  87.287018
75  Saint Dnyaneshwar Garden and Paithan park, Pai...  19.487707  75.380768
76                         Sinnar, Maharashtra, India  19.853060  74.000633
77                    Guntakal, Andhra Pradesh, India  15.167409  77.373627
78                        Lalgola, West Bengal, India  24.417534  88.250343
79                 Hoshangabad, Madhya Pradesh, India  22.744108  77.736969
80                   Proddatur, Andhra Pradesh, India  14.752805  78.552757
81          RL Infotechh & Solutions, Durgapur, India  23.520399  87.311897
82                             Pali, Rajasthan, India  25.771315  73.323685
83                             Palwal, Haryana, India  28.148735  77.332024
84                             Gohana, Haryana, India  29.138407  76.693245
85                               Munger, Bihar, India  25.375710  86.474373
86                       Yavatmal, Maharashtra, India  20.388794  78.120407
87                Bokaro Steel City, Jharkhand, India  23.669296  86.151115
88                             Jetpur, Gujarat, India  21.761524  70.627625
89                       Basirhat, West Bengal, India  22.657402  88.867180
90               Konnagar, Mirpur, West Bengal, India  22.700474  88.319069
91                           Ranchi, Jharkhand, India  23.344315  85.296013
92                       Gudur, Andhra Pradesh, India  14.146319  79.850388
93             Gola Gokarannath, Uttar Pradesh, India  28.078636  80.471588
94                   Shikohabad, Uttar Pradesh, India  27.108416  78.584602
95                    Tirumangalam, Tamil Nadu, India   9.823619  77.986565
96      Anakaputhur, Sriperumbudur, Tamil Nadu, India  12.946366  79.959244
97                         Suryapet, Telangana, India  17.143908  79.623924
98                            Udupi, Karnataka, India  13.340881  74.742142
99                     Nandyal, Andhra Pradesh, India  15.478569  78.483093

[100 rows x 3 columns]

In [51]:
data = {'City':  dfdummy["Place Name"].tolist(),
        'Latitude': dfdummy["Latitude"].tolist(),
         'Longitude':dfdummy["Longitude"].tolist()
        }
india_df=pd.DataFrame(data, columns = ['City','Latitude','Longitude'])
india_df.head()

                                   City   Latitude  Longitude
0   Nanjangud, Mysore, Karnataka, India  12.120000  76.680000
1         Chittorgarh, Rajasthan, India  24.879999  74.629997
2         Ratnagiri, Maharashtra, India  16.994444  73.300003
3  Goregaon, Mumbai, Maharashtra, India  19.155001  72.849998
4            Pindwara, Rajasthan, India  24.794500  73.055000

In [52]:
india_df['State'] = india_df['City'].apply(lambda x: x.split(',')[1] )
india_df['City'] = india_df['City'].apply(lambda x: x.split(',')[0] )
india_df.head()

          City   Latitude  Longitude         State
0    Nanjangud  12.120000  76.680000        Mysore
1  Chittorgarh  24.879999  74.629997     Rajasthan
2    Ratnagiri  16.994444  73.300003   Maharashtra
3     Goregaon  19.155001  72.849998        Mumbai
4     Pindwara  24.794500  73.055000     Rajasthan


# Use FourSquare API to explore venues

In [56]:
CLIENT_ID = 'DMGPTKDJFZ5YIWWLV51O5TPGH3UJQJX0B5XCGGAMAEK1EF4O' # your Foursquare ID
CLIENT_SECRET = 'K3JFSEMK40EG0NRQFSEYY41S5IL1VBO5NLT4NSPPEUJAP5BL' # your Foursquare Secret
VERSION = '20180604'
LIMIT = 30
print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

Your credentails:
CLIENT_ID: DMGPTKDJFZ5YIWWLV51O5TPGH3UJQJX0B5XCGGAMAEK1EF4O
CLIENT_SECRET:K3JFSEMK40EG0NRQFSEYY41S5IL1VBO5NLT4NSPPEUJAP5BL

In [57]:
radius = 500
LIMIT = 100

venues = []

for lat, long, city, state in zip(india_df['Latitude'], india_df['Longitude'], india_df['City'], india_df['State']):
    url = "https://api.foursquare.com/v2/venues/explore?client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}".format(
        CLIENT_ID,
        CLIENT_SECRET,
        VERSION,
        lat,
        long,
        radius, 
        LIMIT)
    
    results = requests.get(url).json()["response"]['groups'][0]['items']
    
    for venue in results:
        venues.append((
            city, 
            state,
            lat, 
            long, 
            venue['venue']['name'], 
            venue['venue']['location']['lat'], 
            venue['venue']['location']['lng'],  
            venue['venue']['categories'][0]['name']))

        
venues_df = pd.DataFrame(venues)

# define the column names
venues_df.columns = ['City', 'State', 'CityLatitude', 'CityLongitude', 'VenueName', 'VenueLatitude', 'VenueLongitude', 'VenueCategory']

print(venues_df.shape)
venues_df.head()

(178, 8)

,City,State,CityLatitude,CityLongitude,VenueName,VenueLatitude,VenueLongitude,VenueCategory
0,Nanjangud,Mysore,12.120000,76.680000,Apollo Pharmacy,12.120657,76.678324,Pharmacy
1,Chittorgarh,Rajasthan,24.879999,74.629997,Cantabil,24.882313,74.628812,Clothing Store
2,Goregaon,Mumbai,19.155001,72.849998,Vasu Sandwitch,19.157017,72.846070,Sandwich Place
3,Goregaon,Mumbai,19.155001,72.849998,Subway,19.155942,72.853372,Sandwich Place
4,Goregaon,Mumbai,19.155001,72.849998,Kiran Fast Food Corner,19.155983,72.851569,Fast Food Restaurant

In [67]:
#Number of unique venue categories
print('There are {} uniques categories.'.format(len(venues_df['VenueCategory'].unique())))

There are 76 uniques categories.

In [98]:
# check if the results contain "Clothing Store"
"Hotel" in venues_df['VenueCategory'].unique()
"Motel" in venues_df['VenueCategory'].unique()

True

In [59]:
# one hot encoding
india_onehot = pd.get_dummies(venues_df[['VenueCategory']], prefix="", prefix_sep="")
# add neighborhood column back to dataframe
india_onehot['City'] = venues_df['City'] 

# move city column to the first column
fixed_columns = [india_onehot.columns[-1]] + list(india_onehot.columns[:-1])
india_onehot = india_onehot[fixed_columns]
india_onehot.head()

,City,ATM,Accessories Store,Art Gallery,Arts & Crafts Store,Asian Restaurant,Astrologer,Bakery,Bank,Bar,...,Shopping Mall,Smoke Shop,Snack Place,Supermarket,Tailor Shop,Thrift / Vintage Store,Train Station,Turkish Restaurant,Vegetarian / Vegan Restaurant,Zoo
0,Nanjangud,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Chittorgarh,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Goregaon,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Goregaon,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Goregaon,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [60]:
india_grouped = india_onehot.groupby('City').mean().reset_index()
india_grouped.head()

,City,ATM,Accessories Store,Art Gallery,Arts & Crafts Store,Asian Restaurant,Astrologer,Bakery,Bank,Bar,...,Shopping Mall,Smoke Shop,Snack Place,Supermarket,Tailor Shop,Thrift / Vintage Store,Train Station,Turkish Restaurant,Vegetarian / Vegan Restaurant,Zoo
0,Alipurduar,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
1,Ambernath,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
2,Barh,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
3,Basirhat,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
4,Batumi,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.130435,0.0,0.0

In [100]:
len(india_grouped[india_grouped["Hotel"] > 0])

8

In [83]:
hotel_df = india_grouped[["City","Hotel"]]
hotel_df.head()

         City     Hotel
0  Alipurduar  0.000000
1   Ambernath  1.000000
2        Barh  0.000000
3    Basirhat  0.000000
4      Batumi  0.130435

# Clustering

In [92]:
# set number of clusters
toclusters = 3

to_clustering = hotel_df.drop(["City"], 1)
# run k-means clustering
kmeans = KMeans(n_clusters=toclusters, random_state=0).fit(to_clustering)

# check cluster labels generated for each row in the dataframe
kmeans.labels_[0:10]

array([0, 1, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int32)

In [93]:
final_df = hotel_df.copy()

# add clustering labels
final_df["Cluster Labels"] = kmeans.labels_
final_df.head()

         City     Hotel  Cluster Labels
0  Alipurduar  0.000000               0
1   Ambernath  1.000000               1
2        Barh  0.000000               0
3    Basirhat  0.000000               0
4      Batumi  0.130435               0

In [94]:
final_df = final_df.join(venues_df.set_index("City"), on="City")

print(final_df.shape)
final_df.head()

(178, 10)

,City,Hotel,Cluster Labels,State,CityLatitude,CityLongitude,VenueName,VenueLatitude,VenueLongitude,VenueCategory
0,Alipurduar,0.000000,0,West Bengal,26.491890,89.527100,Doars mountain,26.488700,89.527700,Diner
1,Ambernath,1.000000,1,Maharashtra,19.186354,73.191948,Hotel Krishna Palace,19.189335,73.194900,Hotel
2,Barh,0.000000,0,Bihar,25.477585,85.709091,Crystal Palace,25.474192,85.708664,Bar
3,Basirhat,0.000000,0,West Bengal,22.657402,88.867180,Apollo Pharmacy,22.660578,88.867097,Pharmacy
4,Batumi,0.130435,0,Adjara,41.643414,41.639900,Hotel Marani,41.642824,41.641061,Hotel

In [ ]:
import matplotlib.cm as cm
import matplotlib.colors as colors

# Examine Clusters

In [96]:
final_df.loc[final_df['Cluster Labels'] == 1]

,City,Hotel,Cluster Labels,State,CityLatitude,CityLongitude,VenueName,VenueLatitude,VenueLongitude,VenueCategory
1,Ambernath,1.0,1,Maharashtra,19.186354,73.191948,Hotel Krishna Palace,19.189335,73.194900,Hotel
50,Suri,1.0,1,West Bengal,23.905445,87.524620,Hotel SAGAR,23.904972,87.526749,Hotel

In [97]:
final_df.loc[final_df['Cluster Labels'] == 0]

,City,Hotel,Cluster Labels,State,CityLatitude,CityLongitude,VenueName,VenueLatitude,VenueLongitude,VenueCategory
0,Alipurduar,0.000000,0,West Bengal,26.491890,89.527100,Doars mountain,26.488700,89.527700,Diner
2,Barh,0.000000,0,Bihar,25.477585,85.709091,Crystal Palace,25.474192,85.708664,Bar
3,Basirhat,0.000000,0,West Bengal,22.657402,88.867180,Apollo Pharmacy,22.660578,88.867097,Pharmacy
4,Batumi,0.130435,0,Adjara,41.643414,41.639900,Hotel Marani,41.642824,41.641061,Hotel
4,Batumi,0.130435,0,Adjara,41.643414,41.639900,Дом Хинкали Калакури,41.642743,41.636833,Restaurant
4,Batumi,0.130435,0,Adjara,41.643414,41.639900,Plaza Fitness Club,41.646326,41.643409,Gym
4,Batumi,0.130435,0,Adjara,41.643414,41.639900,Sazandari,41.643463,41.640622,Restaurant
4,Batumi,0.130435,0,Adjara,41.643414,41.639900,Salkhino,41.643378,41.638640,Caucasian Restaurant
4,Batumi,0.130435,0,Adjara,41.643414,41.639900,Ci Gusta Batumi,41.642064,41.637459,Italian Restaurant
4,Batumi,0.130435,0,Adjara,41.643414,41.639900,Porto Franco | პორტო ფრანკო,41.647892,41.640296,Café
4,Batumi,0.130435,0,Adjara,41.643414,41.639900,Brewery Shumeruli,41.643629,41.642072,Brewery
4,Batumi,0.130435,0,Adjara,41.643414,41.639900,Dergah Pastanesi,41.645574,41.638448,Pastry Shop
4,Batumi,0.130435,0,Adjara,41.643414,41.639900,Baraka | ბარაქა,41.644428,41.635167,Turkish Restaurant
4,Batumi,0.130435,0,Adjara,41.643414,41.639900,Karabak | ქარაბაქ,41.644606,41.635866,Turkish Restaurant
4,Batumi,0.130435,0,Adjara,41.643414,41.639900,Hotel Prestige Batumi,41.644255,41.634676,Hotel
4,Batumi,0.130435,0,Adjara,41.643414,41.639900,Nikora,41.644477,41.635194,Market
4,Batumi,0.130435,0,Adjara,41.643414,41.639900,Old city,41.647300,41.637307,Restaurant
4,Batumi,0.130435,0,Adjara,41.643414,41.639900,Bar/Restaurant Paradise,41.646526,41.639561,Middle Eastern Restaurant
4,Batumi,0.130435,0,Adjara,41.643414,41.639900,Adjarian Cottage,41.646578,41.640663,Caucasian Restaurant
4,Batumi,0.130435,0,Adjara,41.643414,41.639900,Prestige,41.645340,41.637889,Turkish Restaurant
4,Batumi,0.130435,0,Adjara,41.643414,41.639900,Tbilisi Square,41.644628,41.635861,Plaza
4,Batumi,0.130435,0,Adjara,41.643414,41.639900,Iphone +,41.646812,41.643432,Electronics Store
4,Batumi,0.130435,0,Adjara,41.643414,41.639900,Plaza Hotel,41.646483,41.643245,Hotel
4,Batumi,0.130435,0,Adjara,41.643414,41.639900,Sazandari Restaurant,41.643366,41.634637,Restaurant
4,Batumi,0.130435,0,Adjara,41.643414,41.639900,Main Marschrutka Station,41.646234,41.640941,Bus Station
4,Batumi,0.130435,0,Adjara,41.643414,41.639900,Alta Computers,41.646733,41.643326,Electronics Store
5,Belgaum,0.000000,0,Karnataka,15.852792,74.498703,U.S. Polo Assn.,15.849695,74.497674,Clothing Store
6,Bhimavaram,0.000000,0,Andhra Pradesh,16.544893,81.521240,Geetha Multiplex,16.546777,81.517440,Multiplex
6,Bhimavaram,0.000000,0,Andhra Pradesh,16.544893,81.521240,spice magic,16.545355,81.520156,Indian Restaurant
6,Bhimavaram,0.000000,0,Andhra Pradesh,16.544893,81.521240,Coastal City Center,16.546670,81.517495,Shopping Mall
...,...,...,...,...,...,...,...,...,...,...
44,Sagar,0.000000,0,Karnataka,14.167040,75.040298,Mangalore Canteen,14.168278,75.039824,Breakfast Spot
44,Sagar,0.000000,0,Karnataka,14.167040,75.040298,Hotel Anmol International Restaurant,14.167500,75.037330,Indian Restaurant
44,Sagar,0.000000,0,Karnataka,14.167040,75.040298,kattappana,14.170148,75.039528,Indie Movie Theater
45,Shikohabad,0.000000,0,Uttar Pradesh,27.108416,78.584602,Neha Restaurant,27.108058,78.583271,North Indian Restaurant
46,Siddipet,0.000000,0,Telangana,18.101904,78.852074,Siddipet Bus Station (New),18.101414,78.851834,Bus Station
46,Siddipet,0.000000,0,Telangana,18.101904,78.852074,Mysa Jewellery,18.104946,78.852875,Jewelry Store
46,Siddipet,0.000000,0,Telangana,18.101904,78.852074,GoFabrics,18.105787,78.851200,Tailor Shop
46,Siddipet,0.000000,0,Telangana,18.101904,78.852074,Super man Collections,18.105444,78.849861,Men's Store
47,Sinnar,0.000000,0,Maharashtra,19.853060,74.000633,Panchavati Sinnar Motels,19.850000,74.000000,Motel
48,Sirohi,0.000000,0,Rajasthan,24.882618,72.858894,HDFC Bank,24.882733,72.861015,ATM
49,Surendranagar,0.000000,0,Gujarat,22.728392,71.637077,Juicyka,22.725203,71.635186,Juice Bar
49,Surendranagar,0.000000,0,Gujarat,22.728392,71.637077,Zanzer Jewellers,22.728008,71.632855,Jewelry Store
49,Surendranagar,0.000000,0,Gujarat,22.728392,71.637077,"Jaquar Authorised Dealer, Patel Trading Co",22.724249,71.636980,Furniture / Home Store
51,Suryapet,0.000000,0,Telangana,17.143908,79.623924,UAE Exchange and Financial Services Limited- S...,17.140421,79.622415,Currency Exchange
51,Suryapet,0.000000,0,Telangana,17.143908,79.623924,Vijetha Restaurant,17.147491,79.622606,Breakfast Spot
51,Suryapet,0.000000,0,Telangana,17.143908,79.623924,Appolo Pharmacy,17.147526,79.622459,Pharmacy
52,Thiruvalla,0.142857,0,Kerala,9.383452,76.574059,Knitters The Fabric Nest,9.383101,76.573677,Boutique
52,Thiruvalla,0.142857,0,Kerala,9.383452,76.574059,Club 7 Mall & Hotel,9.384837,76.574428,Shopping Mall
52,Thiruvalla,0.142857,0,Kerala,9.383452,76.574059,Thiruvalla Town,9.385486,76.574399,General Travel
52,Thiruvalla,0.142857,0,Kerala,9.383452,76.574059,Spices Thiruvalla,9.385599,76.577740,Fried Chicken Joint
52,Thiruvalla,0.142857,0,Kerala,9.383452,76.574059,Baskin-Robbins,9.384275,76.574343,Ice Cream Shop
52,Thiruvalla,0.142857,0,Kerala,9.383452,76.574059,Wrangler & Lee,9.383329,76.574044,Men's Store
52,Thiruvalla,0.142857,0,Kerala,9.383452,76.574059,Hotel Elite Continental,9.387293,76.575234,Hotel
54,Udupi,0.000000,0,Karnataka,13.340881,74.742142,Swadisht,13.342504,74.744470,Indian Restaurant
54,Udupi,0.000000,0,Karnataka,13.340881,74.742142,Manjunatha Eye Hospital,13.343845,74.743641,Optical Shop
54,Udupi,0.000000,0,Karnataka,13.340881,74.742142,Ayaan Comforts,13.343694,74.744042,Restaurant
55,Vizianagaram,0.000000,0,Andhra Pradesh,18.106659,83.395554,Sweet India,18.107666,83.396739,Dessert Shop
55,Vizianagaram,0.000000,0,Andhra Pradesh,18.106659,83.395554,Brown Beans,18.107974,83.395701,Café
55,Vizianagaram,0.000000,0,Andhra Pradesh,18.106659,83.395554,Le Paradise Restaurant,18.107725,83.398377,Indian Restaurant
56,Yavatmal,0.000000,0,Maharashtra,20.388794,78.120407,Hotel Gyanson,20.388606,78.121345,Motel

In [101]:
final_df.loc[final_df['Cluster Labels'] == 2]

,City,Hotel,Cluster Labels,State,CityLatitude,CityLongitude,VenueName,VenueLatitude,VenueLongitude,VenueCategory
15,Gondal,0.5,2,Gujarat,21.961946,70.792297,Old Market Yard,21.961990,70.792736,Market
15,Gondal,0.5,2,Gujarat,21.961946,70.792297,Orchard Heritage Palace,21.964382,70.794531,Hotel
15,Gondal,0.5,2,Gujarat,21.961946,70.792297,Orchard Palace,21.964746,70.795048,Hotel
15,Gondal,0.5,2,Gujarat,21.961946,70.792297,dreamland Restaurant,21.961724,70.797138,Indian Restaurant
39,Port Blair,0.5,2,Andaman and Nicobar Islands,11.623377,92.726486,Divyam Talkies,11.622831,92.725290,Movie Theater
39,Port Blair,0.5,2,Andaman and Nicobar Islands,11.623377,92.726486,Hotel De La’mour,11.623904,92.728567,Hotel
53,Tirumangalam,0.5,2,Tamil Nadu,9.823619,77.986565,SivaMatrimony,9.825441,77.984405,Astrologer
53,Tirumangalam,0.5,2,Tamil Nadu,9.823619,77.986565,VSR Lodge,9.825361,77.983821,Hotel

### Observations
Most of Hotels are in Cluster 2 which is around Gujarat and Tamil Nadu and lowest (close to zero) in Cluster 1 areas which are West Bengal and Maharashtra. Looking at nearby venues, it seems Cluster 1 might be a good location as there are not a lot of Hotels in these areas. Therefore, this project recommends the entrepreneur to open a hotel in these locations with little to no competition. Nonetheless, if the food is authentic, affordable and good taste, I am confident that it will have great following everywhere =)